/* Stylesheet presentation for the [wtf_fu_showfiles] shortcode output. */
#wtf_fu_show_files_output {
    float: left;
}
#reorder_button_container, #reorder_button, #reorder_message, #reorder_submit_button {
    display: block;
    float: left;
}
#reorder_button_container {
    margin-right: 15px;
}
#reorder_message {
    padding-left: 30px; 
    padding-top: 10px; 
    padding-bottom: 30px; 
    padding-right: 20px; 
    font-size: 1.2em; 
}
.reorder-process {
    float: right;
    display: none;
}
.reorder-processing .reorder-process
{
    display: block;
    width: 32px;
    height: 32px;
    background: url("../img/loading.gif") center no-repeat;
    background-size: contain;
}
.reorder-number
{
    position: absolute;
    background: black;
    color: white;
    font-weight: bold;  
    font-size: 1em; 
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    top: 0;
    left: 0;
    margin: 0px;
    z-index: 100;
    opacity: 0.7;  
}
#reorder_sortable.vertical li.list a, #reorder_sortable.vertical li.list p.pad_top_20px {   
    float: none;
    color: inherit;
}
#reorder_sortable.vertical li.list a span {
    float: none;
}
li.list p.pad_top_20px {
    position: relative;
    top: 18px;
    float: left;
    margin: 0px; 
    z-index: 100;
}
.pad_top_20px, li.list a span{
    font-size:.8em; 
}
#sort_container, #files_container {
    float: left;
    width: 100%;
    height: auto;
    overflow: auto;
}
#reorder_sortable li.list a img, #files_list li.list a img
{
    display: block;
    float: left;
    position: absolute;
    top: 0;
    left: 0;  
}
#reorder_sortable, #files_list { 
    list-style-type: none; 
    margin: 0px; 
    float: left; 
}
#reorder_sortable li.list, #files_list li.list { 
    position: relative;
    margin: 6px; 
    list-style-type: none; 
    float: left; 
    width: 80px; 
    height: 80px; 
    font-size: 1em; 
    text-align: center; 
    overflow: hidden;
    border: #333333;
    border-style: outset; 
}
#reorder_sortable li.list audio, #files_list li.list audio
{ 
    width: 80px; 
    margin:0px;
    position: absolute;
    bottom: 0;
    left: 0; 
    opacity: 0.6;
    z-index: 200;
}
#reorder_sortable.vertical li.list, #files_list.vertical li.list {
    width: 300px;  
    height: 87px;
    float: none;
    overflow: inherit;
}
#reorder_sortable.vertical li.list audio, #files_list.vertical li.list audio {
    width: 294px;
    opacity: .7; 
}
#reorder_sortable.vertical li.list a {
    padding-left: 50px;
    padding-top: 30px;
}


/* Estilos adaptados (Correccion) */
.btn-bar-header-container{
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.flex-container .column{
    margin: 5px;
    display: inline-block;
}

.flex-container .buttons-container{
    flex-basis: 70%;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 8px;
}
.flex-container .right-panel-container {
    flex-basis: 30%;
    flex-grow: 1;
    padding: 8px;
    display: flex;
    justify-content: center;
}
.right-panel-container input {
    max-height: 30px;
    height: 30px;
    padding: 0px !important;
    padding-left: 0.625em !important;
}
.flex-container.right-valign{
    justify-content: flex-end;
}

.audioOptionViewContainer{
    margin-top: 2px; 
    overflow: hidden;
    max-width: 300px;
    min-width: 200px;
}
.audioOptionViewContainer .input-container{
     width: 50%;
     margin: 5px;
     flex-grow: 1;
}
.audioOptionViewContainer label{
     font-size: 14px;
}

 #main-table thead th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.start, .cancel, .delete{
    margin-bottom: 3px !important;
}
.loadingStateContainer {
    position: fixed;
    background: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    min-width: 100vh;
    min-height: 100vh;
    z-index: 9999;
    top: 0;
    left: 0;
    display: none;
    transition: all 0.5s ease-in;
}
.loadingStateContainer.show {
    display:  block;
}
.loadingStateContainer .loaderContainer{
    font-size: 24px;
    top: 50%;
    position: relative;
    text-align: center;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.spin {
    transition: all 0.5s ease-in;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@media screen and (max-width: 400px) {
    .buttons-container{
        width: 100%;

    }
    .buttons-container .column{
            margin: 3px 0;
    }
    .buttons-container .column, .buttons-container .btn  {
        width: inherit;
    }
    .flex-container .right-panel-container{
        min-width: inherit;
        margin: 10px;
    }
    .audioOptionViewContainer{
        max-width: 100%;
        min-width: 100%;
    }
    .hidden-small{
        display: none;
    }
}
@media (max-width: 767px){
    .files .name {
        width: 60px;
        word-wrap: break-word;
    }
}
@media (min-width: 400px) and (max-width: 900px) { 
    .audioOptionViewContainer label{
        font-size: 90%;
    }

}
.jc_FileUploadForm h2.audioTitle{
    text-align: center;
}
.preview audio {
    width:  100% !important;
}
/**
 *
 * Estilos del Generador de Frecuencia
 *
 */

.freqGenContainer {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 10px;
}
.freqGenContainer .ui-widget-header{
    color: #ffffff !important;
    background: #999 !important;
    border-color: #666 !important;
    
}
.freqGenContainer #volume-slider {
  display: inline-block;
  border: solid 1px inherit;
  border-style: none none solid none;
  border-width: 1px;
  border-style: none;
  border-style: solid;
  width: 60px;
  height: 8px;
 
}
.freqGenContainer #volume-slider .ui-slider-handle {
  width: 10px;
  height: 12px;
  top: -3px;
  border: solid 1px inherit;
 
}
.freqGenContainer #note-selector-panel {
  z-index: 90;
  height: 52%;
  min-height: 300px;
  bottom: 3%;
  left: 0%;
  right: 0%;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 22px;
  border-radius: 3px;
  background:  rgba(0, 0, 0, 0.03);

}
.freqGenContainer #note-selector-panel .close-button {
  position: absolute;
  box-sizing: content-box;
  right: 12px;
  top: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  box-shadow: none;
  background: none;
  border: solid 2px inherit;

}
.freqGenContainer #note-selector-panel .close-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.freqGenContainer #note-selector-panel > table {
  table-layout: fixed;
  width: calc(100% - 40px);
  height: 100%;
  border-collapse: collapse;
}
.freqGenContainer #note-selector-panel > table td {
  height: 11.1%;
  white-space: nowrap;
}
.freqGenContainer #note-selector-panel > table td.halftone {
  width: 6.5%;
  opacity: 0.7;
}
.freqGenContainer #note-selector-panel > table button {
  width: 100%;
  height: calc(100% - 10px);
  margin-bottom: 10px;
  font-size: 14px;
  overflow: hidden;
  padding: 0 2px;

}

.freqGenContainer #note-selector-panel button > small {
  display: block;
  font-size: 11px;
  opacity: 0.6;
  text-transform: none;
}
@media only screen and (max-height: 800px) {
  .freqGenContainer #note-selector-panel button > small {
    display: none;
  }
}
.freqGenContainer #note-selector-panel table {
  border: 0;
}
.freqGenContainer #note-selector-panel table td {
  border: 0;
}
.freqGenContainer th {
  border: 0;
}
.freqGenContainer #note-selector-panel {
  top: 10%;
}
.freqGenContainer #note-selector-panel td {
  padding: 2px;
}
.freqGenContainer .controls button{
    font-size: 12px;
}

.freqGenContainer .control-group {
    display: inline-block;
}
#freq-readout{
    font-size: 26px;
    font-weight: bolder;
    color: #007acc;
}

/* .freqGenContainer button {
    background-color: #5bc0de;
    border-color: #46b8da;
}
.freqGenContainer button:hover, 
.freqGenContainer button:active, 
.freqGenContainer button:focus,
.freqGenContainer button:visited{
    color: #ffffff;
    background-color: #39b3d7;
    border-color: #269abc;
}
 */
@media only screen and (max-height: 600px) {
  .freqGenContainer #note-selector-panel {
    top: 2%;
    height: calc(100% - 20px);
    overflow-y: auto;
  }

}
@media  (max-width: 500px) {
     .freqGenContainer .control-group{
            width:  100%;
            display: flex;
            align-items: center;
            justify-content: center;
      }
      .freqGenContainer .control-group button{
            margin: 5px;
      }
}

