/* Stylesheet presentation for the [wtf_fu_showfiles] shortcode output. */
#wtf_fu_show_files_output {
    float: left;
}
#reorder_button_container, #reorder_button, #reorder_message, #reorder_submit_button {
    display: block;
    float: left;
}
#reorder_button_container {
    margin-right: 15px;
}
#reorder_message {
    padding-left: 30px; 
    padding-top: 10px; 
    padding-bottom: 30px; 
    padding-right: 20px; 
    font-size: 1.2em; 
}
.reorder-process {
    float: right;
    display: none;
}
.reorder-processing .reorder-process
{
    display: block;
    width: 32px;
    height: 32px;
    background: url("../img/loading.gif") center no-repeat;
    background-size: contain;
}
.reorder-number
{
    position: absolute;
    background: black;
    color: white;
    font-weight: bold;  
    font-size: 1em; 
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    top: 0;
    left: 0;
    margin: 0px;
    z-index: 100;
    opacity: 0.7;  
}
#reorder_sortable.vertical li.list a, #reorder_sortable.vertical li.list p.pad_top_20px {   
    float: none;
    color: inherit;
}
#reorder_sortable.vertical li.list a span {
    float: none;
}
li.list p.pad_top_20px {
    position: relative;
    top: 18px;
    float: left;
    margin: 0px; 
    z-index: 100;
}
.pad_top_20px, li.list a span{
    font-size:.8em; 
}
#sort_container, #files_container {
    float: left;
    width: 100%;
    height: auto;
    overflow: auto;
}
#reorder_sortable li.list a img, #files_list li.list a img
{
    display: block;
    float: left;
    position: absolute;
    top: 0;
    left: 0;  
}
#reorder_sortable, #files_list { 
    list-style-type: none; 
    margin: 0px; 
    float: left; 
}
#reorder_sortable li.list, #files_list li.list { 
    position: relative;
    margin: 6px; 
    list-style-type: none; 
    float: left; 
    width: 80px; 
    height: 80px; 
    font-size: 1em; 
    text-align: center; 
    overflow: hidden;
    border: #333333;
    border-style: outset; 
}
#reorder_sortable li.list audio, #files_list li.list audio
{ 
    width: 80px; 
    margin:0px;
    position: absolute;
    bottom: 0;
    left: 0; 
    opacity: 0.6;
    z-index: 200;
}
#reorder_sortable.vertical li.list, #files_list.vertical li.list {
    width: 300px;  
    height: 87px;
    float: none;
    overflow: inherit;
}
#reorder_sortable.vertical li.list audio, #files_list.vertical li.list audio {
    width: 294px;
    opacity: .7; 
}
#reorder_sortable.vertical li.list a {
    padding-left: 50px;
    padding-top: 30px;
}


/* Estilos adaptados (Correccion) */
.btn-bar-header-container{
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.flex-container .column{
    margin: 5px;
    display: inline-block;
}

.flex-container .buttons-container{
    flex-basis: 70%;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 8px;
}
.flex-container .right-panel-container {
    flex-basis: 30%;
    flex-grow: 1;
    padding: 8px;
    display: flex;
    justify-content: center;
}
.right-panel-container input {
    max-height: 30px;
}
.flex-container.right-valign{
    justify-content: flex-end;
}

.audioOptionViewContainer{
    margin-top: 2px; 
    overflow: hidden;
    max-width: 300px;
    min-width: 200px;
}
.audioOptionViewContainer .input-container{
     width: 50%;
     margin: 5px;
     flex-grow: 1;
}
.audioOptionViewContainer label{
     font-size: 14px;
}

 #main-table thead th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.start, .cancel, .delete{
    margin-bottom: 3px !important;
}
.loadingStateContainer {
    position: fixed;
    background: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    min-width: 100vh;
    min-height: 100vh;
    z-index: 9999;
    top: 0;
    left: 0;
    display: none;
    transition: all 0.5s ease-in;
}
.loadingStateContainer.show {
    display:  block;
}
.loadingStateContainer .loaderContainer{
    font-size: 24px;
    top: 50%;
    position: relative;
    text-align: center;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.spin {
    transition: all 0.5s ease-in;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@media screen and (max-width: 400px) {
    .buttons-container{
        width: 100%;

    }
    .buttons-container .column{
            margin: 3px 0;
    }
    .buttons-container .column, .buttons-container .btn  {
        width: inherit;
    }
    .flex-container .right-panel-container{
        min-width: inherit;
        margin: 10px;
    }
    .audioOptionViewContainer{
        max-width: 100%;
        min-width: 100%;
    }
    .hidden-small{
        display: none;
    }
}
@media (max-width: 767px){
    .files .name {
        width: 60px;
        word-wrap: break-word;
    }
}
@media (min-width: 400px) and (max-width: 900px) { 
    .audioOptionViewContainer label{
        font-size: 90%;
    }

}